.column {
  flex: 0 0 var(--column-width);
  min-width: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid var(--border-color);
}

.column__header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1ch 2ch;
  font-size: var(--text-base);
  font-weight: 700;
  border-bottom: 1px solid var(--border-color);
}

.column-data {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  padding: 1ch 2ch;
}

.column-data__text {
  margin: 0;
}
