#columns-container {
  display: flex;
  flex-shrink: 0;
  min-width: fit-content;
  height: 100%;
  flex-direction: row;
  align-items: stretch;
  gap: 0;
  background-color: light-dark(var(--color-gray-200), var(--color-zinc-950));
}

.columns {
  display: flex;
}

.column {
  flex: 0 0 var(--column-width);
  min-width: var(--column-width);
  width: var(--column-width);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid var(--border-color);
  scrollbar-width: thin;
  box-sizing: border-box;

  &.dragging {
    opacity: 0.4;
  }

  &.sortable-drag {
    border-right: none;
  }
}

.column__header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: light-dark(var(--color-gray-100), var(--color-zinc-800));
  display: flex;
  justify-content: space-between;
  padding: 1ch;
  border-bottom: 1px solid var(--border-color);
}

.column__header--cast-shadow {
  box-shadow: 0 3px 4px -4px light-dark(var(--color-gray-400), transparent);
}

.column__drag-handle {
  margin-right: 1.5ch;
  cursor: grab;
  user-select: none;

  &:hover {
    background-color: light-dark(var(--color-gray-300), var(--color-zinc-600));
    color: light-dark(var(--color-black), var(--color-white));
  }

  &:active {
    cursor: grabbing;
  }
}

.column__title {
  display: flex;
  justify-content: space-between;
  gap: 1ch;
  overflow: hidden;
  margin: 0;
  font-size: var(--text-base);
  font-weight: 700;
}

.column-data {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  padding: 1ch;
  background-color: light-dark(var(--color-gray-100), var(--color-zinc-800));
}

.column-data__text {
  margin: 0;
}

.add-column-column {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0 var(--space-xl);
  background-color: light-dark(var(--color-gray-200), var(--color-zinc-950));
}
