html,
body {
  margin: 0;
  height: 100%;
}

html {
  height: -webkit-fill-available;
}

body {
  font: var(--text-base) var(--font-stack);
  line-height: 1.5;
  min-height: 100%;
  background-color: light-dark(var(--color-white), var(--color-black));
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;

  filter: var(--logo-filter-default);

  &:hover {
    filter: var(--logo-filter-hover);
  }

  &:active {
    filter: var(--logo-filter-active);
  }

  --size: 24px;

  > picture {
    display: block;
    width: var(--size);
    height: var(--size);
    flex-shrink: 0;
  }

  picture img,
  img {
    width: var(--size);
    height: var(--size);
    object-fit: contain;
  }
}

.logo--dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .logo--light {
    display: none;
  }
  .logo--dark {
    display: block;
  }
}

.app {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  height: 100vh;
  height: -webkit-fill-available;
  height: 100dvh;
  overflow: hidden;
  margin: 0;
  background-color: light-dark(var(--color-gray-200), var(--color-zinc-950));
  background-image: radial-gradient(
    light-dark(var(--color-gray-600), var(--color-zinc-700)) 0.5px,
    light-dark(var(--color-gray-200), var(--color-zinc-950)) 0.5px
  );
  background-size: 11px 11px;
}

.main {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  min-width: 0;
  min-height: 0;
}

@media (max-width: 760px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(0, 1fr);
  }

  .main {
    min-height: 0;
    overflow: hidden;
  }
}
