html,
body {
  margin: 0;
  height: 100%;
}

body {
  font: var(--text-base) monospace;
  line-height: 1.5;
  background-color: light-dark(var(--color-white), var(--color-black));
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-size: var(--text-2xl);

  filter: var(--logo-filter-default);

  &:hover {
    filter: var(--logo-filter-hover);
  }

  &:active {
    filter: var(--logo-filter-active);
  }

  --size: 24px;

  > picture {
    display: block;
    width: var(--size);
    height: var(--size);
    flex-shrink: 0;
  }

  picture img,
  img {
    width: var(--size);
    height: var(--size);
    object-fit: contain;
  }
}

.app {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.main {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  min-width: 0;
}

.add-column-column {
  display: flex;
  align-items: center;
  margin: 0 var(--space-xl);
}
