.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list__item {
  justify-content: space-between;
  padding: 0 1ch;
}

.list__item--no-padding {
  padding: 0;
}

.list-disc {
  margin: 0;
  padding: 0;
  list-style-type: disc;
}

.list-disc__item {
  margin-left: 2ch;
}
