.loading-dots:after {
  position: absolute;
  content: "";
  animation: loading-dots 2s steps(5, end) infinite;
}

@keyframes loading-dots {
  0%,
  20% {
    content: ".";
  }
  40% {
    content: "..";
  }
  60% {
    content: "...";
  }
  90%,
  100% {
    content: "";
  }
}
