.sidebar {
  flex: 0 0 var(--sidebar-width);
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);

  background-color: light-dark(var(--color-gray-100), var(--color-zinc-800));
  border-right: 1px solid var(--border-color);
  z-index: 1;
}

.sidebar--cast-shadow {
  box-shadow: 0 0 4px light-dark(var(--color-gray-400), transparent);
}

.sidebar-account {
  display: flex;
  gap: 1ch;
  justify-content: space-between;
  padding: 1ch;
  border-bottom: 1px solid var(--border-color);
}

.sidebar__section-title {
  margin: 0;
  padding: 1ch;
  border-bottom: 1px solid var(--border-color);
  font-size: var(--text-base);
  font-weight: normal;
}

.sidebar-list {
  border-bottom: 1px solid var(--border-color);
}

.sidebar-list__item {
  display: flex;
  justify-content: space-between;
  padding: 0 1ch;
  color: light-dark(var(--color-gray-500), var(--color-zinc-400));
}

.sidebar-list__item--has-new-events .link {
  font-weight: 700;
}

.sidebar-list__item--current {
  color: light-dark(var(--color-black), var(--color-white));
  background-color: light-dark(var(--color-blue-100), var(--color-zinc-700));
}

.sidebar-list__item--current .link {
  font-weight: 400;
  color: light-dark(var(--color-slate-400), var(--color-blue-400));
}
