.sidebar {
  background-color: light-dark(var(--color-gray-100), var(--color-zinc-800));
}

.sidebar-account {
  display: flex;
  gap: 1ch;
  justify-content: space-between;
  padding: 1ch;
  border-bottom: 1px solid var(--border-color);
}

.sidebar-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid var(--border-color);
}

.sidebar-list__item {
  display: flex;
  justify-content: space-between;
  padding: 0 1ch;
}

.sidebar-list__item--has-new-events {
  font-weight: 700;
}

.sidebar-list__item--current {
  color: light-dark(var(--color-black), var(--color-white));
  background-color: light-dark(var(--color-blue-100), var(--color-zinc-700));
}

.sidebar-list__item--current .link {
  font-weight: 400;
  color: light-dark(var(--color-slate-400), var(--color-blue-400));
}
