.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mt-1ch {
  margin-top: 1ch;
}

.text-xs {
  font-size: var(--text-xs);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-base {
  font-size: var(--text-base);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-2xl {
  font-size: var(--text-2xl);
}

.text-3xl {
  font-size: var(--text-3xl);
}

.contents {
  display: contents;
}

.italic {
  font-style: italic;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.self-start {
  align-self: flex-start;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.resize-none {
  resize: none;
}
